<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <!-- Sección del formulario -->
    <div class="form-section">
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
      </ion-item>
      <ion-button expand="block" fill="outline" shape="round" (click)="changePassword()" style="margin-top: 20px;">Cambiar Contraseña</ion-button>
    </div>
  </div>
</ion-content>


