<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/icon/undraw_mobile_login_re_9ntv.svg" alt="Mi Icono" class="icono-centrado">

  <ion-list class="container">
    <ion-item class="input-estilo">
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input [(ngModel)]="username" type="text" placeholder="Ingresa tu usuario"></ion-input>
    </ion-item>
    
    <ion-item class="input-estilo">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="Ingresa tu contraseña"></ion-input>
      <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility()">
        <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  
  <div class="button-container">
    <ion-button class="boton-estilo" (click)="onLogin()">Iniciar Sesión</ion-button>
  </div>

  <div class="registro-container">
    <ion-button fill="clear" (click)="goToRegister()">Registrarse</ion-button>
    <p></p>
    <p (click)="forgotPassword()" style="color:blue; text-decoration:underline; cursor:pointer;">¿Olvidaste tu contraseña?</p>
  </div>
</ion-content>
